<div>
  <form class="form-horizontal">
    <div class="form-group row">
      <div class="col-sm-9">
        <input type="text" class="form-control" id="subject" name="subject" placeholder="subject"
               [(ngModel)]="article.subject">
      </div>
        <div class="btn-group col-sm-3" role="group" aria-label="tool">
            <button class="btn btn-success col-sm-4" routerLink="/pages/blog/post" routerLinkActive="active">new</button>
            <button class="btn btn-primary col-sm-4" (click)="post()">post</button>
            <button class="btn btn-primary col-sm-4" (click)="toggleArticleSetView()">setting</button>
      </div>
    </div>
    <div class="ASet" [ngStyle]="{display:isASetShow}">
      <div>
        <h4 class="d-inline">Article Settings</h4>
        <button (click)="toggleArticleSetView()" class="btn btn-sm btn-danger btn-icon  pull-right"><i
          class="fa fa-times"></i></button>
      </div>
      <div class="form-group">
        <label for="tags">tags</label>
        <input type="text" class="form-control" id="tags" name="tags" placeholder="python;java;network"
               (change)="tagChange($event.target.value)" [value]="article.tags?.join(';')">
      </div>
      <div class="form-group">
        <label for="slug">slug</label>
        <input type="text" class="form-control" id="slug" placeholder="slug" name="slug" [(ngModel)]="article.slug">
      </div>
      <div class="form-group">
        <label for="summary">summary</label>
        <input type="text" class="form-control" id="summary" placeholder="summary" name="summary"
               [(ngModel)]="article.summary">
      </div>
      <div class="form-group">
        <label for="authors">authors</label>
        <input type="text" class="form-control" id="authors" placeholder="authors" name="authors"
               (change)="authorsChange($event.target.value)" [value]="article.authors?.join(';')">
      </div>
      <div class="form-group input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary dropdown-toggle" (click)="onCategory()">
            category<span class="caret"></span>
          </button>

        </div>
        <ul class="dropdown-menu" [ngStyle]="{display:isCateShow}">
          <tree [tree]="tree"
                [settings]="treeSettings"
                (nodeCreated)="nodeCreated($event.node)"
                (nodeRemoved)="nodeRemoved($event.node)"
                (nodeRenamed)="nodeRenamed($event.node)"
                (nodeSelected)="nodeSelected($event.node)">
          </tree>
        </ul>
        <input type="text" class="form-control" id="category" placeholder="category" [value]="cate_path?.join('>')">

      </div>
    </div>
    <div class="form-group row">
      <div class="editor--bar dropdown text-center col-sm-12">
        <div class="btn-group editor--btns">
        <span class="btn btn--wysiwyg">
            <i class="fa fa-bold" (click)="toggleBold()"></i>
        </span>
          <span class="btn btn--wysiwyg">
            <i class="fa fa-italic" (click)="toggleItalic()"></i>
        </span>
          <span class="btn btn--wysiwyg">
            <i class="fa fa-font" (click)="toggleHead()"></i>
        </span>
        </div>

        <div class="btn-group editor--btns">
        <span class="btn btn--wysiwyg">
            <i class="fa fa-link" (click)="drawLink()"></i>
        </span>
          <span class="btn btn--wysiwyg">
            <i class="fa fa-photo" (click)="addFile()"></i>
        </span>
          <span class="btn btn--wysiwyg">
            <i class="fa fa-code" (click)="codeAction()"></i>
        </span>
        </div>

        <div class="btn-group editor--btns">
        <span data-state="ordered-list" class="btn btn--wysiwyg">
            <i class="fa fa-list-ol" (click)="ollist()"></i>
        </span>
          <span data-state="unordered-list" class="btn btn--wysiwyg">
            <i class="fa fa-list-ul" (click)="ullist()"></i>
        </span>
          <span class="btn btn--wysiwyg">
            <i class="fa fa-minus" (click)="hrAction()"></i>
        </span>
        </div>

        <div class="btn-group editor--btns">
        <span class="btn btn--wysiwyg">
            <i class="fa fa-undo" (click)="undoAction()"></i>
        </span>
          <span class="btn btn--wysiwyg">
            <i class="fa fa-repeat" (click)="redoAction()"></i>
        </span>
        </div>
      </div>
      <div class="col-md-6 AEdit">
        <codemirror [config]="editConfig" (change)="change()"></codemirror>
      </div>
      <div class="col-md-6 APreview">
        <div [innerHtml]="preview"></div>
      </div>
    </div>
  </form>
</div>
