<div class="modal-content" style="background: #4D98D1;">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
      Attach a file
    </h4>
  </div>
  <div class="modal-body">
    <ba-picture-uploader (onUploadCompleted)="onUploadCompleted($event)" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default cancelBtn" (click)="closeModal()">Cancel</button>
    <button class="btn btn-success ok" (click)="onConfirm()" [disabled]="!isOk">OK</button>
  </div>
</div>
